
h1{
    color: rgb(230, 153, 166);
    border-bottom: 10px dotted rgb(139, 209, 231);
}
h2{
    color: rgb(47, 255, 47);
}

p.sv{
    border: 5px solid blue;
    padding: 30px;
    margin: 50px;
    width: 200px;
    height: 40px;
    background: white;
}
p.jn{
    border: 5px solid blue;
    padding: 30px;
    margin: 50px;
    width: 500px;
    height: 100px;
    background: white;
}
p {
    font-family: arial;
    background: white;
  }
thead{
    background-color: aqua;
}
table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid gray;

}
thead th:nth-child(1) {
    width: 30%;
}
thead th:nth-child(2) {
    width: 15%;
}
thead th:nth-child(3) {
    width: 10%;
}
thead th:nth-child(4) {
    width: 10%;
}
thead th:nth-child(5) {
    width: 25%;
}
thead th:nth-child(6) {
    width: 10%;
}
tbody td {
    text-align: center;
}